body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/imagem.jpg'); /* Adicione o caminho para sua imagem */
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Aplicando um desfoque de 5px na imagem de fundo */
    z-index: -1; /* Garante que esteja por trás do conteúdo */
}


.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-top: 0;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
